@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
/*font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;*/
:root{
    --bg-violet:hsl(257, 40%, 49%);
    --bg-magenta:hsl(300, 69%, 71%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-violet);
    
}
.main{
    display: grid;
    place-items: center;
    grid-template-columns: "1fr 1fr 1fr";
    grid-template-areas: "title . ."
    "body body body"
    ". . socials";
    width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    margin-left: 10rem;
}
.title{
    grid-area: title;
    padding-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.body{
    grid-area: body;
    display: flex;
    padding-bottom: 2rem;
    font-family: 'Poppins', sans-serif;
}
.love{
    padding:3.2rem;
}
.love h1{
    padding-bottom: 2rem;
    word-spacing: 0.1rem;
    line-height: 2.8rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;

}
.love p{
    line-height: 1.5rem;
    font-weight: 400;
    color:rgb(237, 221, 221);

}
.socials{
    
    grid-area: socials;
    margin-right: 3rem;
    padding-top: -2rem;
}
.socials img{
    background-color: var(--bg-violet);
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    padding: 10px;
    margin: 7px;

}
.socials img:hover{
    border: 2px solid var(--bg-magenta);
    cursor: pointer;
}
button{
    margin-top: 1rem;
    width: 50%;
    padding: 0.6rem;
    border-radius: 1.5rem;
    border: none;
    
}
button:hover{
    background-color: var(--bg-magenta);
    color: #fff;
    cursor: pointer;

}
@media screen and (max-width: 699px) {
    body{
        background: url(./images/bg-mobile.svg);
        background-color: var(--bg-violet);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .main{
        display: flex;
        flex-direction: column;
        width: 510px;
        margin: 0 auto;
        margin-left: 5rem;
    }
    .title{
        padding-right: 20rem;
        padding-bottom: 5rem;
        
    }
    .body{
        display: flex;
        flex-direction: column; 
        text-align: center;
        width: 510px;
        margin-right: 5rem;
    }
    .love{
        padding-top: 5rem;
        width: 510px;
    }
    .love h1{
        font-size: 2rem;
        margin-left: -4rem;
    
    }
    .love p{
        font-size: 1.3rem;
        line-height: 2rem;
        margin-left: -3rem;
    }
    button{
        margin-top: 2rem;
        width: 60%;
        padding: 1rem;
        border-radius: 2.5rem;
        border: none;
        font-size: 1.5rem;
        color:rgb(110, 104, 104); 
        margin-right: 3rem;
    }
    .socials{
        margin-left: -2rem;
    
    }
}